h2 {
    text-align: center;
    margin: 40px 0 20px;
    color: #333;
    font-family: 'Cinzel', serif;
}
.table-container {
    margin: 16px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.2); /* light transparent white */
    backdrop-filter: blur(4px);          /* blur effect */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    font-size: 18px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    background-color: rgba(255, 255, 255, 0.15);
}
